<!--====Header======-->
<header id="header" class="bg-dark">
  <div class="container">
    <div id="logo" class="pull-left">
      <h2 class="m-0 p-0 font-weight-bold"><a class="scrollto" routerLink="intro">Upcoming
      <span class="text-white">Event</span></a>
      </h2>
    </div>
  <nav id="nav-menu-container">
    <ul class="nav-menu">
      <li class="menu-active"><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/categories">Categories</a></li>
      <li><a routerLink="/schedules/workshop">Workshops</a></li>
      <li><a routerLink="/schedules/seminar">Seminars</a></li>
      <li><a routerLink="/schedules/audition">Auditions</a></li>
      <li><a routerLink="/schedules/competetion">Competitions</a></li>
      <li><a routerLink="/schedules/expo">Expos</a></li>
      <li><a routerLink="/schedules/launch">Launches</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav><!-- #nav-menu-container -->
</div>
</header><!-- #header -->
<router-outlet></router-outlet>
<!--==========================Footer============================-->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Upcoming Event</strong>. All Rights Reserved
    </div>
    <div class="credits">
        Designed by <a>Princy</a>
    </div>
  </div>
</footer><!-- #footer -->
<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>