<section id="contact" class="section-bg wow fadeInUp mt-5">

    <div class="container">

      <div class="section-header">
        <h2>Contact Us</h2>
        <p>CONTACT WITH US FOR ANY QUERY</p>
      </div>

      <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>Address</h3>
            <address>Chikitsalaya Marg, Bapu Nagar, 302015, Jaipur</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>Phone Number</h3>
            <p><a href="tel:+91 890-0990-990">+91 890-0990-990</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>Email</h3>
            <p><a href="mailto:thevents.27@gmail.com">theevents.27@gmail.com</a></p>
          </div>
        </div>

      </div>

      <div class="form">
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        
        <form #ab="ngForm" class="contactForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" name="name" #na="ngModel"  [(ngModel)]="nameIn" class="form-control" id="name" placeholder="Your Name"
                data-rule="minlen:4" data-msg="Please enter at least 4 chars" required>
                <span *ngIf="na.errors">
                  <span *ngIf="na.touched && na.errors.required" class="text-danger">Please Enter Name</span>
              </span>
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control"  #em="ngModel" name="email" [(ngModel)]="emailIn"
              id="email" placeholder="Your Email" data-rule="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
              <span *ngIf="em.errors">
                <span *ngIf="em.touched && em.errors.required" class="text-danger">Email is required</span>
                <span *ngIf="em.touched && em.errors.pattern" class="text-danger">Not a valid Format</span> 
              </span>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" #su="ngModel" name="subject" [(ngModel)]="sub" id="subject" placeholder="Subject" required data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <span *ngIf="su.errors">
              <span *ngIf="su.touched && su.errors.required" class="text-danger">Enter Subject</span>
          </span>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" #ms="ngModel" [(ngModel)]="msg" required rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <span *ngIf="ms.errors">
              <span *ngIf="ms.touched && ms.errors.required" class="text-danger">Please write something for us</span>
          </span>
          </div>
          <div class="text-center"><button type="submit"  (click)="fun()">Send Message</button>
        </div>
        </form>
      </div>
    </div>
  </section><!-- #contact -->