<style>
.help:hover{
    color:#fff;
}
</style>
<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!--<div class="panel-heading">
                    <strong>Event Detail</strong>
                </div>--> 
                <div class="panel-body p-5">
                    <div class="row shadow-lg">
                        <div class="col-lg-4 bg-dark">
                            <h2 class="text-danger mt-3 font-weight-bold text-uppercase">Add New Event</h2>
                        </div>
                        <div class="col-lg-8 font-weight-bold">
                            <form role="form" #createWorkshop="ngForm" >
                                <div class="form-group mt-3">
                                    <label>Type</label>
                                    <select name="type"  [(ngModel)]="cForm.type" class="form-control" required>
                                            <option value = "workshop">Workshop</option>
                                            <option value = "seminar">Seminar</option>
                                            <option value = "audition">Auditions</option>
                                            <option value = "competetion">Competetion</option>
                                            <option value = "launch">Launches</option>
                                            <option value = "expo">Expos</option>
                                          </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Title of Event</label>
                                        <input  name="title" [(ngModel)]="cForm.title" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                      <label>Date</label>
                                      <input name="date" type="date"  [(ngModel)]="cForm.date" class="form-control" required>
                                      <label>Time</label>
                                      <input name="time" type="time" [(ngModel)]="cForm.time" class="form-control" required>
                                          <!--make a pipe-->
                                    </div>
                                <div class="form-group">
                                    <label>Location</label>
                                    <textarea name="location" [(ngModel)]="cForm.location" class="form-control"  placeholder="Enter text" required></textarea>
                                </div>
                                
                                <!-- <div class="form-group">
                                    <a href="https://www.latlong.net/"><button class="btn help">i</button></a>
                                </div> -->
                                <div class="form-group" class="row">
                                    <div class="col-lg-6">
                                        <label>Please enter Latitude of location</label>
                                        <input name="latitude" type="text" [(ngModel)]="cForm.latitude" class="form-control" required>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Please enter Longitude of location</label>
                                        <input name="longitude" type="text" [(ngModel)]="cForm.longitude" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Full Address</label>
                                    <textarea  name="fulladdress" class="form-control" [(ngModel)]="cForm.fulladdress"  placeholder="Enter text" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea  name="description" class="form-control" [(ngModel)]="cForm.describe"  placeholder="Enter text" required></textarea>
                                </div>
                                <div class="form-group" class="row">
                                   <div class="col-lg-5">
                                        <label>Event logo</label>
                                        <input (change)="getFile($event)"  name="logo" type="file" required>
                                    </div>
                                    <div class="col-lg-7">
                                        <label>Event Banner</label>
                                        <input (change)="getFile1($event)"  name="banner" type="file" required>
                                    </div>
                                </div>
                                <div class="form-group font-weight-bold text-center">
                                <button type="button" (click)="addEvent()" class=" mb-2 mt-4 btn btn-danger">Add Event</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
<!-- 
    {{createWorkshop|json}} -->