<section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">The Event<br><span>Find Your </span>Next Event</h1>
      <p class="mb-4 pb-0">Upcoming Event Information Here</p>
      <!--<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>-->
       <a class="about-btn scrollto" routerLink="/login">Log in</a>
      <a  class="about-btn scrollto" routerLink="/about">About The Event</a>
    </div>
    <!-- Modal HTML 
    <div id="myModal" class="modal fade">
	  <div class="modal-dialog modal-login">
		      <div class="modal-content">
			      <div class="modal-header">
				      <div class="avatar">
					      <img src="avatar.png" alt="Avatar">
				      </div>				
				      <h4 class="modal-title">Member Login</h4>	
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			      </div>
			      <div class="modal-body">
				  <form  method="post">
					<div class="form-group">
						<input type="text" class="form-control" name="username" placeholder="Username" required="required">		
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="Password" required="required">	
					</div>        
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
					</div>
				</form>
			      </div>
			<div class="modal-footer">
				<a href="#">Forgot Password?</a>
			</div>
		</div>
  </div>
  </div>-->
</section>

<section id="about">
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-6">
          <h2>About The Event</h2>
          <p>Sed nam ut dolor qui repellendus iusto odit. Possimus inventore eveniet accusamus error amet eius aut
            accusantium et. Non odit consequatur repudiandae sequi ea odio molestiae. Enim possimus sunt inventore in
            est ut optio sequi unde.</p>
        </div>
        <div class="col-lg-3">
          <h3>Where</h3>
          <p>Downtown Conference Center, New York</p>
        </div>
        <div class="col-lg-3">
          <h3>When</h3>
          <p>Monday to Wednesday<br>10-12 December</p>
        </div>
      </div>
    </div>
  </section>
