<section id="about">
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-6">
          <h2>About The Upcoming Event</h2>
          <p class="mt-4">We are small and diverse group on mission to help people discover the events 
            happening around them. Hundreds of events happens our city, but its difficult to find
            them out.Upcoming Event helps you do that..!!<br><br>
            We have created a smarter way to discover and share information regarding events.
            Upcoming Event platform is also for event organizers to promote their 
            events at City, Country.<br><br>
            We are the connecting bridge between users who are looking for events and event promoters
            who are in search of their audience..!! <br><br>
            All facets of event marketing needs to be understood and we try to cover the all facet.
          </p>
        </div>
        
        <div class="col-lg-3">
          <h3>Where</h3>
          <p>Chikitsalaya Marg, Bapu Nagar, 302015, Jaipur</p>
        </div>
        <div class="col-lg-3">
          <h3>When</h3>
          <p>Monday to Saturday<br>8:00AM to 10PM</p>
        </div>
      </div>
    </div>
  </section>
