<div id="wrapper">
    <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- Go to website -->
                 <li> <a routerLink=""><i class="fa fa-table fa-fw"></i> Go to Website</a> </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a (click)="fun()">
                            <i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a ><i class="fa fa-dashboard fa-fw"></i> {{sform.role}} Panel</a>
                        </li>
                        <li>
                            <a routerLink="addWorkshop"><i class="fa fa-table fa-fw"></i> Add Event</a>
                        </li>
                        <li>
                            <a routerLink="moredetail"><i class="fa fa-table fa-fw"></i> Add More detail</a>
                        </li>
                        <li>
                            <a routerLink="listworkshop"><i class="fa fa-table fa-fw"></i> List of Events</a>
                        </li>
                        <li *ngIf="sform.role=='admin'"> 
                             <a routerLink="listContact"><i class="fa fa-table fa-fw"></i> List Contacts</a>
                        </li>
                        <li>
                            <a (click)="fun()"><i class="fa fa-sign-out fa-fw"></i>Logout
                            </a>
                        </li>
                 </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
    
          <router-outlet></router-outlet>

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

