<!--==========================Speakers Section============================-->
<section id="speakers" class="wow fadeInUp mt-5"> 
  <div class="container">
    <div class="section-header">
      <h2>Categories of Events</h2>
        <p>Here are categories of All Events</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="speaker">
          <img src="assets/img/speakers/1.jpg" alt="Workshop" class="img-fluid">
          <div class="details">
            <h3><a routerLink="/schedules/workshop">Workshops</a></h3>
            <p>Events</p>
            <div class="social">
              <a href=""><i class="fa fa-twitter mr-1"></i></a>
              <a href=""><i class="fa fa-facebook mr-1"></i></a>
              <a href=""><i class="fa fa-google-plus mr-1"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker">
          <img src="assets/img/speakers/2.jpg" alt="Seminar" class="img-fluid">
            <div class="details">
              <h3><a routerLink="/schedules/seminar">Seminars</a></h3>
              <p>Events</p>
              <div class="social">
                <a href=""><i class="fa fa-twitter mr-1"></i></a>
                <a href=""><i class="fa fa-facebook mr-1"></i></a>
                <a href=""><i class="fa fa-google-plus mr-1"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker">
          <img src="assets/img/speakers/3.jpg" alt="Audition" class="img-fluid">
          <div class="details">
            <h3><a routerLink="/schedules/audition">Auditions</a></h3>
            <p>Events</p>
            <div class="social">
              <a href=""><i class="fa fa-twitter mr-1"></i></a>
              <a href=""><i class="fa fa-facebook mr-1"></i></a>
              <a href=""><i class="fa fa-google-plus mr-1"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker">
          <img src="assets/img/speakers/4.jpg" alt="Competetion" class="img-fluid">
          <div class="details">
            <h3><a routerLink="/schedules/competetion">Competetions</a></h3>
            <p>Events</p>
            <div class="social">
              <a href=""><i class="fa fa-twitter mr-1"></i></a>
              <a href=""><i class="fa fa-facebook mr-1"></i></a>
              <a href=""><i class="fa fa-google-plus mr-1"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker">
          <img src="assets/img/speakers/5.jpg" alt="Expos" class="img-fluid">
          <div class="details">
            <h3><a routerLink="/schedules/expo">Expos</a></h3>
            <p>Events</p>
            <div class="social">
              <a href=""><i class="fa fa-twitter mr-1"></i></a>
              <a href=""><i class="fa fa-facebook mr-1"></i></a>
              <a href=""><i class="fa fa-google-plus mr-1"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="speaker">
          <img src="assets/img/speakers/6.jpg" alt="Launches" class="img-fluid">
          <div class="details">
            <h3><a routerLink="/schedules/launch">Launches</a></h3>
            <p>Events</p>
            <div class="social">
              <a href=""><i class="fa fa-twitter mr-1"></i></a>
              <a href=""><i class="fa fa-facebook mr-1"></i></a>
              <a href=""><i class="fa fa-google-plus mr-1"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>